@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white; 
  background-color: #252525;
  height: 100vh;
  font-family: 'work sans', sans serif;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
  gap: 5vh;
  margin: 10%;
}

.container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.h1 {
  text-align: center;
  font-size: 3rem;
  padding:0 2.5%;
}

.h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

.image {
  width: 50%;
  border-radius: 1vw;
  z-index: 1;
  margin-bottom: 2vh;
}
.int {
  display: flex;
  flex-direction: column;
  gap:2vh;
  align-items: center;
}

.hello {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

.input {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  background-color: var(--bg-color);
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
}


.input:focus {
    outline: transparent;
}

button {
    font-size: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10%;
    text-align: center;
    width: 25%;
    border: none;
    box-sizing: initial;
    border-radius: 5%;
}

footer {
    position: relative;
  top: 0;
  width: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.3em;
  font-size:1rem;
  padding: 5% 0%;
}

@media (orientation: portrait) {
    .section {
        margin: 5%;
    }
}
